<div class="title">
  <h4 class="text-center">名護へGOについて</h4>
</div>
<div class="list-body">
  <div class="list-cd">
    <p><a href="/" class="">home</a> > 名護へGOについて</p>
  </div>
</div>

<div class="list-body">
  <div class="fixedpages-sentence">
    <div class="fixedpages-contents">
      名護へGOとは
    </div>
    <p>内容を書く</p>
  </div>
</div>
