<%= content_for(:title, "名護へGoについて") %>

<div class="list-body fixedpages-area">
  <div class="list-title underline-blue">
    <h1>名護へGOについて</h1>
  </div>

  <div class="fixedpages-sentence">
    <div class="text-center">
      <h5><b>羽地で一息、ついていきませんか？</b></h5>
    </div>
    <div class="sentence-margin animation">
      <%= image_tag "img_about_go_to_nago_1.png" %>
    </div>
    <div class="animation">
      <p>那覇から車で約1時間半の所に名護市羽地地区はあります。</p>
    </div>
    <div class="animation">
      <p>美味しい食事処と豊かな自然に囲まれた美しい所です。</p>
    </div>
    <div class="sentence-margin animation">
      <%= image_tag "img_about_go_to_nago_2.png" %>
    </div>
    <div class="animation">
      <p>近所に「沖縄美ら海水族館」や「古宇利大橋」もあるため、観光客も足を運びやすい場所にあります。</p>
    </div>
    <div class="animation">
      <p>「名護へGO」ではここ羽地地区を中心に、美味しい食事処や遊べる施設について紹介していきます。</p>
    </div>
    <div class="sentence-margin animation">
      <%= image_tag "img_about_go_to_nago_3.png" %>
    </div>
    <div class="animation">
      <p>突き抜けるような青い空と<br>
        どこまでも透き通る青い海<br>
        そして美味しいお食事を用意して</p>
    </div>
    <div class="animation">
      <p>皆さまをお待ちしております。</p>
    </div>
  </div>
</div>

<script>
  $(function(){
  	$(window).on('load scroll',function (){
  		$('.animation').each(function(){
  			//ターゲットの位置を取得
  			var target = $(this).offset().top;
  			//スクロール量を取得
  			var scroll = $(window).scrollTop();
  			//ウィンドウの高さを取得
  			var height = $(window).height();
  			//ターゲットまでスクロールするとフェードインする
  			if (scroll > target - height){
  				//クラスを付与
  				$(this).addClass('active');
  			}
  		});
  	});
  });
</script>
