<div class="list-body fixedpages-area">
  <div class="list-title underline-blue">
    <h1>運営会社情報</h1>
  </div>
  <div class="shop-information">
    <ul class="information-lists">
      <li class="information-list">
        <p class="information-list-title">会社名</p>
        <p class="information-list-content">株式会社やんばるスパイク</p>
      </li>
      <li class="information-list">
        <p class="information-list-title">事業内容</p>
        <p class="information-list-content">アプリ開発/ホームページ制作/プログラミング教育/飲食業</p>
      </li>
      <li class="information-list">
        <p class="information-list-title">設立</p>
        <p class="information-list-content">2019年12月27日</p>
      </li>
      <li class="information-list">
        <p class="information-list-title">所在地</p>
        <p class="information-list-content">〒905-1152 沖縄県名護市字伊差川1052番地2</p>
      </li>
      <li class="information-list">
        <p class="information-list-title">役員</p>
        <p class="information-list-content">代表取締役社長  神里亮人</p>
      </li>
      <li class="information-list">
        <p class="information-list-title">問合せ</p>
        <p class="information-list-content"><%= link_to new_inquiry_path(kind: 0) do %>問合せはこちら<% end %></p>
      </li>
    </ul>
  </div>
</div>
