<div class="title">
  <h4 class="text-center">運営会社</h4>
</div>
<div class="list-body">
  <div class="list-cd">
    <p><a href="/" class="">home</a> > 運営会社</p>
  </div>
</div>

<div class="list-body">
  <div class="list-title">
    <h3>運営会社情報</h3>
  </div>

  <table>
    <tr>
      <th>会社名</th>
      <td>株式会社やんばるスパイク</td>
    </tr>
    <tr>
      <th>創業</th>
      <td>2019年</td>
    </tr>
    <tr>
      <th>従業員数</th>
      <td>100人</td>
    </tr>
    <tr>
      <th>電話番号</th>
      <td>000-000-0000</td>
    </tr>
  </table>
</div>
