<div class="list-body inquiry-area">
  <div class="list-title underline-blue">
    <h1>運営会社情報</h1>
  </div>
  <div class="shop-information">
    <ul class="information-lists">
      <li class="information-list">
        <p class="information-list-title">会社名</p>
        <p class="information-list-content">株式会社やんばるスパイク</p>
      </li>
      <li class="information-list">
        <p class="information-list-title">創業</p>
        <p class="information-list-content">2019年</p>
      </li>
      <li class="information-list">
        <p class="information-list-title">従業員数</p>
        <p class="information-list-content">10名</p>
      </li>
      <li class="information-list">
        <p class="information-list-title">電話番号</p>
        <p class="information-list-content">000-000-0000</p>
      </li>
    </ul>
  </div>
</div>
