<!-- マイページ-->
<%= render "shared/breadcrumbs" %>

<div class="list-body">
  <div class="list-title underline-blue">
    <h3>プライバシーポリシー</h3>
  </div>

  <div class="fixedpages-sentence">
    <div class="fixedpages-contents">
      個人情報の取り扱いについて
    </div>
    <p>名護へGO（以下、当サイトといいます）では、ご提供いただいた個人情報の保護を重要な責務と認識し、個人情報保護に努めます。 ここで「個人情報」とは、生存する個人に関する情報であって、当該情報に含まれる氏名、生年月日その他の記述等により特定の個人を識別することができるもの、（他の情報と容易に照合することができ、それにより特定の個人を識別することができることとなるものを含む。）をいいます。当サイトのスタッフの個人情報も含まれます。</p>
  </div>

  <div class="fixedpages-sentence">
    <div class="fixedpages-contents">
      個人情報の収集・利用・提供
    </div>
    <p>当サイトは、ご本人様から直接収集する個人情報につきましては、収集する個人情報の利用目的をできる限り特定し、個人情報の収集時にご本人様に明示してご同意いただいた利用目的の範囲内でのみ取り扱います。また、当サイトが受託業務にともないお預かりする個人情報につきましては、受託業務の遂行上必要な範囲内でのみ取り扱います。当サイトはご本人様からご提供いただいた個人情報を、ご本人様の同意がない限り、第三者に開示または提供いたしません。</p>
  </div>

  <div class="fixedpages-sentence">
    <div class="fixedpages-contents">
      個人情報の適正な取得
    </div>
    <p>当サイトは、適法且つ公正な手段により個人情報を取得致します。</p>
  </div>

  <div class="fixedpages-sentence">
    <div class="fixedpages-contents">
      安全対策
    </div>
    <p>個人情報の正確及び安全性を確保するため、技術面及び組織面において安全対策を講じ、個人情報への不正なアクセス・紛失・破壊・改ざん・漏洩の予防に努めます。</p>
  </div>

  <div class="fixedpages-sentence">
    <div class="fixedpages-contents">
      委託先の管理
    </div>
    <p>個人情報の処理を外部へ委託する場合は、委託先との機密保持契約を取り交わす等により適切な管理・監督を実施致します。</p>
  </div>

  <div class="fixedpages-sentence">
    <div class="fixedpages-contents">
      個人情報の開示等の求め
    </div>
    <p>当サイトは、ご本人様からの個人情報に関する開示・訂正・削除・利用停止・第三者提供の停止等のご請求（以下「開示等の求め」とします）に誠実かつ迅速に対応するための社内体制を整備します。</p>
    <ul>
    <li>・法令の規定に基づいて司法機関または行政機関から法的義務を伴う要請を受けた場合。</li>
    <li>・人の生命、身体、財産、権利などに対する危険があり、それを保護する必要がある場合。</li>
    <li>・情報の利用目的を達成するために、当施設からの委託を受けて業務を行う協力会社が必要とする場合。</li>
    <li>・協力会社は、当施設が指定した利用目的の限度を超えて利用することはできません。</li>
    </ul>
  </div>

  <div class="fixedpages-sentence">
    <div class="fixedpages-contents">
      プライバシーポリシーの改定
    </div>
    <p>このプライバシーポリシーの内容は、法令改正、社会的及び技術的動向、その他必要に応じて改定することがございます。</p>
  </div>
</div>
