<%= content_for(:title, "メールアドレス変更") %>

<div class="login-area">
    <div class="list-title underline-blue">
        <h1>メールアドレスを変更</h1>
    </div>
    <div class="mt-5 mb-3">
        <p class="text-center mt-3"><%= @unconfirmed_email %>に変更確認メールを送信しました。</p>
        <p class="text-center">メールを確認し、リンクをクリックして変更を完了してください。</p>
    </div>
    <%= link_to "マイページヘ戻る", user_path ,class:"button button-gray-color" %>
 </div>