<div class="footer">
  <div class="footer_link">
    <div class="row no-gutters">
      <div class="col-12 row-li">
        <a href ="/about" class="text-white btn btn-primary btn-lg btn-block"><p>名護へGOについて</p></a>
      </div>
      <div class="col-6 row-li">
        <a href ="#"><p>利用規約</p></a>
      </div>
      <div class="col-6 row-li">
        <a href ="/privacy" class="text-white btn btn-primary btn-lg btn-block"><p>プライバシーポリシー</p></a>
      </div>
      <div class="col-6 row-li">
        <a href ="/company" class="text-white btn btn-primary btn-lg btn-block"><p>運営会社</p></a>
      </div>
      <div class="col-6 row-li">
        <%= link_to new_inquiry_path do %>
          <p>問合せ</p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="footer_bottom">
    <p><span>&copy;</span>やんばるスパイク</p>
  </div>
</div>
