<div class="footer">
  <div class="footer_link">
    <div class="row no-gutters">
      <div class="col-12 row-li">
        <a href ="#"><p>名護へGOについて</p></a>
      </div>
      <div class="col-6 row-li">
        <a href ="#"><p>利用規約</p></a>
      </div>
      <div class="col-6 row-li">
        <a href ="#"><p>プライバシーポリシー</p></a>
      </div>
      <div class="col-6 row-li">
        <a href ="#" ><p>運営会社</p></a>
      </div>
      <div class="col-6 row-li">
        <a href ="#"><p>お問い合わせ</p></a>
      </div>
    </div>
  </div>
  <div class="footer_bottom">
    <p><span>&copy;</span>やんばるスパイク</p>
  </div>
</div>
