<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler col-2" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item ">
        <a class="nav-link" href="#"> グルメ </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"> スポット </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"> マイページ </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"> ログイン </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"> 問合せ </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"> ログアウト </a>
      </li>
    </ul>
  </div>
  <h1 col-8>名護へGO</h1>
  <div class="form-inline mx-4 col-2s">
    <a href = "#"><i class="fas fa-sign-in-alt"></i></a>
  </div>
</nav>
