<% if ( @gourmets.empty? && @spots.empty? ) %>
  <p class="text-center mt-5">現在お気に入りに登録している、グルメ・観光スポットはありません。</p>
<% end %>
<% unless @gourmets.empty? %>
<section class="list-body row">
  <div class="list-title underline-blue">
    <h1>グルメ</h1>
  </div>
  <div class="list-wrapper col-12">
    <div class="row " id="gourmet_lists">
      <%= render partial: 'facilities/facilities_list', collection: @gourmets, as: 'facility' %>
    </div>
      <div class="list-button col-12">
        <%= link_to_next_page @gourmets, 'もっと見る', remote: true , params: { type: :bookmark_gourmet },
      class:"button button-blue-border" ,id:'gourmet_view_more'%>
      </div>
  </div>
</section>
<% end %>

<% unless @spots.empty? %>
<section class="list-body row">
  <div class="list-title underline-blue">
    <h1>観光スポット</h1>
  </div>
  <div class="list-wrapper col-12">
    <div class="row " id="spot_lists">
      <%= render partial: 'facilities/facilities_list', collection: @spots, as: 'facility' %>
    </div>
      <div class="list-button col-12">
        <%= link_to_next_page @spots, 'もっと見る', remote: true , params: { type: :bookmark_spot },
      class:"button button-blue-border" ,id:'spot_view_more'%>
      </div>
  </div>
</div>
</section>
<% end %>