<div class="list-body">
  <div class="list-title">
    <h3>施設一覧</h3>
  </div>
  <div class="list-cd">
    <p><a href="/" class="">home</a> > 施設</p>
  </div>
  <div class="list-wrapper">
    <div class="row " id="facility_lists">
      <%=render 'facility_list' %>
      <div class="list-button col-12">
        <%= link_to_next_page @facilities, 'もっと見る', remote: true ,
        class:"more btn btn-primary btn-lg btn-block btn-round" ,type:"button" ,id:'view_more'%>
      </div>
    </div>
  </div>

  <div class="bottom">
    <div class="bottom-sns">
      <ul>
        <li><a href="#" class="circle"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#" class="circle"><i class="fab fa-google-plus-g"></i></a></li>
        <li><a href="#" class="circle"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="#" class="circle"><i class="fab fa-instagram"></i></a></li>
      </ul>
    </div>
    <div class="bottom-text">
      <button type="button" class="btn btn-primary btn-lg btn-block">情報修正依頼はこちら</button>
    </div>
  </div>

</div>