hr {
  padding-bottom: 35px;
}

// ---------------それぞれのshow---------------

.top {
  text-align: center;
}

.list-wrapper .show-row-list {
  padding: 0 7.5px 7.5px;
  margin-bottom: 0px;
}

@media(min-width: 992px) {
  .list-wrapper .show-row-list {
    padding: 15px;
  }
}

.list-body {
  padding-top: 40px;
  padding-bottom: 30px;
}


.list-title {
  width: 85%;
  margin: 0 auto 30px;
  text-align: center;

  h2,h3 {
    font-weight: bold;
  }
}
@media(min-width: 992px) {
  .list-body {
    padding-top: 100px;

  }
}



.bg-image-spot {
  background-image: image-url('bk_spot.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.triangle-cut {
  position: relative;
  padding-top: 100px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 80px 100vw 0 0;
    border-color: #fff transparent transparent transparent;
  }
}

.card-body {
  padding: 5px !important;
}

.card-title {
  height: 2.4rem;
  font-weight: bold;
  font-size: 1.0rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-bottom: 0.3rem !important;
}

.card-text {
  height: 3.6rem;
  font-size: 0.8rem;
  color: $gray-color;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  margin-bottom: 0;
}

.favorite-area {
  padding: 0 5px 0;
  a{
    font-size: 0.8rem;
    color: $red-color;
  }
}

.list-cd {
  text-align: left;
}

.list-cd p {
  color: #888888;
}


// ブロックにリンクを与えるcss
.a-card {
  color: black;
}

// 各ブロックのaタグによる下線をリセット
.show-row-list a:hover {
  text-decoration: none;
}

.a-card:hover {
  color: black;
}

// .list-button {
//   text-align: center;
//   margin-top: 50px;
// }

// page-nation のもっと見るボタン
.more a {
  color: white;
}

.more a:hover {
  text-decoration: none;
}

// =========================================================================
// ======================== 詳細画面CSS(ここから) =============================
// =========================================================================

// topの画像
.detail-top {
  position: relative;

  // 画像
  .card-img-top {
    width: 100%;
  }

  // タイトル（お店の名前）
  .detail-title {
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    padding: 10px;
    font-size: 30px;
    -webkit-filter: drop-shadow(0px 3px 100px rgba(0, 0, 0, .8));
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, .8));

  }

  // いいねボタン(countを含む）
  .detail-bookmark-icon {
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: center;
    padding-right: 15px;
    padding-bottom: 5px;
    // 装飾
    font-size: 30px;
  }

  .icon-red {
    font-size: 40px;
  }

  // いいねのカウント数
  .detail-bookmark-count {
    color: #fff;
    font-size: 15px;
    margin-top: -10px;
  }
}

// お店のdescription（説明）
.description {
  margin-top: 20px;
  text-align: center;

  p {
    margin-bottom: 0;
  }
}

// オーナーコメントテーブル　（ここから）
.owner-comment-wrapper {
  position: relative;

  .owner-comment-table {
    background-color: #EEEEEE;
    display: flex;
    justify-content: space-around;
    padding: 20px;

    .owner-comment-left {

      // オーナーのアイコン
      .owner-comment-icon {
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 50%;
        /* 角丸半径を50%にする(=円形にする) */

      }
    }

    .owner-comment-right {
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      /* 縦方向中央揃え（Safari用） */
      align-items: center;
      padding-left: 20px;

      p {
        margin-bottom: 0px;
      }
    }
  }

  // 詳細画面の中で2つ目のいいねボタン
  .detail-bookmark-2 {
    font-size: 30px;
    position: absolute;
    bottom: -11px;
    right: 0px;

    i {
      background-color: #fff;
      border-radius: 100%;
      padding: 12px;
      -webkit-filter: drop-shadow(0px 3px 1px $main-color);
      filter: drop-shadow(0px 0px 1px $main-color);
    }
  }
}

// オーナーコメントテーブル （ここまで）

// お店の基本情報 ここから
.shop-information {
  margin-top: 45px;

  // wrapper
  .information-lists {

    // ul
    .information-list {
      // li
      display: flex;
      border-bottom: #888888 solid 1px;
      padding: 10px 0;

      p {
        text-align: left;
        margin-bottom: 0px;
      }

      .information-list-title {
        // 各リストのカラム
        text-align: left;
        padding-right: 40px;
        padding-left: 10px;
        min-width: 130px;
        color: $main-color;
        font-weight: bold;
      }

      .information-list-content {
        text-align: left;

      }
    }
  }
}

.detail-wrapper h3 {
  text-align: center;
  padding-top: 50px;
}

// google map css(これがないと表示されない)
#map {
  height: 300px;
  width: 600px;
}

@media screen and (min-width:768px) {

  /*　画面サイズが768px以上はここを読み込む　*/
  // PC画面
  // topの画像
  .detail-top {

    // タイトル（お店の名前）
    .detail-title {

      left: 10px;
      bottom: 10px;
      font-size: 60px;

    }

    // いいねボタン(countを含む）
    .detail-bookmark-icon {
      right: 20px;
      bottom: 20px;
      // 装飾

      i {
        font-size: 60px;
      }
    }

    .icon-red {
      font-size: 40px;
    }

    // いいねのカウント数
    .detail-bookmark-count {
      color: #fff;
      font-size: 45px;
      margin-top: -10px;
    }
  }

  .description {
    p {
      font-size: 20px;
    }
  }

  .owner-comment-wrapper {
    p {
      font-size: 20px;
    }

    .owner-comment-table {
      display: inline-block;

      .owner-comment-left {

        // オーナーのアイコン
        .owner-comment-icon {
          width: 100px;
          height: 100px;
          margin-bottom: 15px;
        }
      }
    }

  }

  .shop-information {
    p {
      font-size: 20px;
    }
  }

  // オーナーコメントテーブル （ここまで）



  // google map css(これがないと表示されない)
  #map {
    height: 600px;
    width: 600px;
    margin-top: 30px;
  }

}

// ==================================================================
// ======================== 詳細画面CSS(ここまで) =============================
// ==================================================================
