.inquiry-area{
  max-width: 700px;
  width: 70%;
  margin: 3rem auto 3rem;
}

.inquiry-title-area{
  margin-bottom: 2rem;
  h1{
    margin-bottom: 1rem;
  }
}

.inquiry-form{
  .btn-area{
    width: 70%;
    margin: auto;
  }
}