.login-area{
  max-width: 540px;
  width: 100%;
  margin: 3rem auto 3rem;
}

.with-virtical-spaces{
  margin: 20px 0;
}

#user-img-field {
  position: relative;
  cursor: pointer;
  width: 200px;
  height: 160px;
}

#user-img-field i{
  // display: none;
  font-size: 40px;
  position: absolute;
  top: 110px;
  right: 20px;
  color: $main-color;
}

.user-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 15px;
}

.non-user-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 15px;
}

.user-top.container{
  max-width: 780px;
}

.list-content {
  float: left;
}

.user-lists {
  margin: 10px auto;
  padding: 0 auto;
}

.show-content {
  margin: 0;
}
.user-icon {
  position: relative;
  height: 200px;
}

.profile {
  margin-bottom: 30px;
}

.fa-user-edit {
  font-size: 30px;
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0;
}

.confirm-text {
  margin-left: 10px;
}


// ================================
// モーダル
// ================================
.modal{
  &-header{
    border-bottom: 0px!important;
  }
  &-footer{
    border-top: 0px!important;
  }

  &-body{
    text-align: center;
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
     a {
      color: $main-color;
     }
  }
}

.cross-mark{
  color: $main-color;
}
// ================================
// マイページのタブ
// ================================

/*タブ切り替え全体のスタイル*/
.tabs {
  margin-top: 100px;
  padding-bottom: 40px;
  background-color: #fff;
  width: auto;
  margin: 0 auto;
  margin-left: calc(((100vw - 100%) / 2) * -1);
  margin-right: calc(((100vw - 100%) / 2) * -1);
}

/*タブのスタイル*/
.tab_item {
  width: calc(100%/2);
  height: 50px;
	/* border-top: 3px solid #5ab4bd; */
	background-color: #eeeeee;
  line-height: 50px;
  font-size: 18px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}


/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  padding: 10px 15px 0;
  clear: both;
  overflow: hidden;
}


/*選択されているタブのコンテンツのみを表示*/
#gourmet:checked ~ #gourmet_content,
#spot:checked ~ #spot_content,
#design:checked ~ #design_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  border-top: 3px solid $main-color;
  background-color: #fff;
}

// タブ内のカード
.show-row-list {
  margin-bottom: 10px;
  padding: 0px;
 }
// ユーザ情報
.user-information {
  margin-top: 45px;
  // wrapper
  .information-lists {
    // ul
    .information-list {
      // li
      display: flex;
      border-bottom: #888888 solid 1px;
      padding: 10px 0;

      p {
        text-align: left;
        margin-bottom: 0px;
      }

      .information-list-title {
        // 各リストのカラム
        width: 30%;
        padding-left: 10px;
        padding-right: 10px;
        color: $main-color;
        font-weight: bold;
      }

      .information-list-content {
        width: 70%;
      }
    }
  }
}
