.user-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 15px;
}

.non-user-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 15px;
}

.list-content {
  float: left;
}

.user-lists {
  margin: 10px auto;
  padding: 0 auto;
}

.user-icon {
  position: relative;
  height: 200px;
}

.profile {
  margin-bottom: 30px;
}

.fa-user-edit {
  font-size: 30px;
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0;
}

.confirm-text {
  margin-left: 10px;
}

#myTabs {
  margin: 0 auto;
}


// ================================
// マイページのタブ
// ================================

/*タブ切り替え全体のスタイル*/
.tabs {
  margin-top: 100px;
  padding-bottom: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: auto;
  margin: 0 auto;
}

/*タブのスタイル*/
.tab_item {
  width: calc(100%/2);
  height: 50px;
	/* border-top: 3px solid #5ab4bd; */
	background-color: #d9d9d9;
  line-height: 50px;
  font-size: 15px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
}


/*選択されているタブのコンテンツのみを表示*/
#all:checked ~ #all_content,
#programming:checked ~ #programming_content,
#design:checked ~ #design_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
	border-top: 3px solid $main-color;
	background-color: white;
}

// タブ内のカード
.show-row-list {
  margin-bottom: 10px;
}



