<!-- マイページ-->
<div class="list-body">
  <div class="list-cd">
    <p><a href="/" class="">home</a> > 名護へGOについて</p>
  </div>
</div>

<div class="list-body">
  <div class="list-title">
    <h1>名護へGOについて</h1>
  </div>
  <div class="list-title">
    <h3>名護へGOとは</h3>
    <p>内容を書く</p>
  </div>
</div>
