/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree ./main
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap/scss/bootstrap";

// ========ここから（共通の初期設定）=========
body {
  color: #082b48;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #082b48;
}

a:hover {
  opacity: 0.7;
}

.container {
  width: 90%;
  max-width: 980px;
  margin: 0 auto;
}

/* floatによる型崩れを消すため */
.clear::after {
  content: "";
  clear: both;
  display: block;
}
.a-right{
  display:flex;
  justify-content: flex-end;
  margin: 20px auto;
}
// ========ここまで（共通の初期設定）=========
// body (フッターを下に固定するため)
body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f3f3f3;
}

// ========ここから（ヘッダー部）=========
.navbar-toggler{
  border: none !important;
}

.header-menu-icon{
  display: inline-block;
  width: 4.5em;
  height: 4.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

.logo-area{
  text-align: center;
}

.header-logo{
  width: 80%;
}

.header-user-icon{
  font-size: 4.5em;
  color: #7C7B7B;
}

// _header fontawesome
.fa-sign-in-alt {
  font-size: 25px;
  color: #888888;
}

.title {
  background-color: rgb(175, 175, 175);
}
// ========ここまで（ヘッダー部）=========

// ログイン画面

.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

// 「ログインしました」などのフラッシュ用スタイル

.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}

// エラーメッセージ
#error_explanation {
  ul {
    margin: 0 0 30px 0;
    span{
      color: red;
      font-weight: bold;
    }
  }
}

.field_with_errors .form-control {
    border: solid 2px #a94442;
}
// ---------------最下部のsnsアイコンリスト---------------
.bottom-sns {
  text-align: center;
  margin: 40px auto;
}

.bottom-sns ul li {
  display: inline;
  margin: 20px 30px;
  font-size: 50px;
}

.circle {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: solid 1px #888888;
  text-align: center;
  line-height: 80px;
  border-radius: 50%;
}

.bottom-sns ul li a {
  text-decoration: none;
  color: #888888;
}

// 最下部の情報修正依頼へのリンク
.bottom-text {
  text-align: center;
  margin: 0 30px 40px 30px;
}


// --------------footer---------------------
.footer {
  margin-top: auto;
}

.row {
  margin: 0 -15px;
}

// footerのaタグ
.footer a {
  font-size: 20px;
  color: #898888;
  padding: 0;
}

.footer a:hover {
  text-decoration: none;
  color: white
}

// foot上部のpタグ
.footer_link p {
  text-align: center;
  margin: 0;
  line-height: 55px;

}

// footer 一つ一つのlist
.row-li {
  padding: 0;
  border: 1px solid #ffffffff;
  background-color: #8888;
}


// footerのコピーライト部分
.footer_bottom {
  background-color: #222222;
  text-align: center;
}

.footer_bottom p {

  color: white;
  margin: 0;
  line-height: 55px;
}
