/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";

* {
  padding: 0;
  margin: 0;
}

// body (フッターを下に固定するため)
body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}



// _header fontawesome
.fa-sign-in-alt {
  font-size: 25px;
  color: #888888;
}







// --------------footer---------------------
.footer {
  margin-top: auto;
}

.row {
  margin: 0 -15px;
}

// footerのaタグ
.footer a {
  font-size: 20px;
  color: #898888;
  padding: 0;
}

.footer a:hover {
  text-decoration: none;
  color: white
}

// foot上部のpタグ
.footer_link p {
  text-align: center;
  margin: 0;
  line-height: 55px;

}

// footer 一つ一つのlist
.row-li {
  padding: 0;
  border: 1px solid #ffffffff;
  background-color: #8888;
}


// footerのコピーライト部分
.footer_bottom {
  background-color: #222222;
  text-align: center;
}

.footer_bottom p {

  color: white;
  margin: 0;
  line-height: 55px;
}
