// ---------------show---------------
.top-image {
  width: 100%;
}

.top {
  text-align: center;
}

.list-title {
  text-align: center;
  padding: 30px 0;
}

.list-cd {
  text-align: left;
}

.list-cd p {
  color: #888888;
}

.show-row-list {
  margin-bottom: 35px;
}

// ブロックにリンクを与えるcss
.a-card {
  color: black;
}

// 各ブロックのaタグによる下線をリセット
.show-row-list a:hover {
  text-decoration: none;
}

.a-card:hover {
  color: black;
}

.list-button {
  text-align: center;
  margin-top: 50px;
}

// ---------------最下部のsnsアイコンリスト---------------
.bottom-sns {
  text-align: center;
  margin: 40px auto;
}

.bottom-sns ul li {
  display: inline;
  margin: 20px 30px;
  font-size: 50px;
}

.circle {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: solid 1px #888888;
  text-align: center;
  line-height: 80px;
  border-radius: 50%;
}

.bottom-sns ul li a {
  text-decoration: none;
  color: #888888;
}

// 最下部の情報修正依頼へのリンク
.bottom-text {
  text-align: center;
  margin: 0 30px 40px 30px;
}
