// *
hr {
  padding-bottom: 35px;
}
// ---------------それぞれのshow---------------
.top-image {
  width: 380px;
}

.top {
  text-align: center;
}

.list-title {
  text-align: center;
  padding: 30px 0;
}

.list-cd {
  text-align: left;
}

.list-cd p {
  color: #888888;
}

.show-row-list {
  margin-bottom: 35px;
}

// ブロックにリンクを与えるcss
.a-card {
  color: black;
}

// 各ブロックのaタグによる下線をリセット
.show-row-list a:hover {
  text-decoration: none;
}

.a-card:hover {
  color: black;
}

.list-button {
  text-align: center;
  margin-top: 50px;
}

// page-nation のもっと見るボタン
.more a {
  color: white;
}

.more a:hover {
  text-decoration: none;
}

// ---------------最下部のsnsアイコンリスト---------------
.bottom-sns {
  text-align: center;
  margin: 40px auto;
}

.bottom-sns ul li {
  display: inline;
  margin: 20px 30px;
  font-size: 50px;
}

.circle {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: solid 1px #888888;
  text-align: center;
  line-height: 80px;
  border-radius: 50%;
}

.bottom-sns ul li a {
  text-decoration: none;
  color: #888888;
}

// 最下部の情報修正依頼へのリンク
.bottom-text {
  text-align: center;
  margin: 0 30px 40px 30px;
}

// ---------------詳細画面CSS---------------
// 吹き出し　ここから
.balloon1-top {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #e0edff;
}

.balloon1-top:before {
  content: "";
  position: absolute;
  top: -30px;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-bottom: 15px solid #e0edff;
}

.balloon1-top p {
  margin: 0;
  padding: 0;
}
//  ここまで

.detail-wrapper h3 {
  text-align: center;
  padding-top: 50px;
}
