    <% if @resource.try(:unconfirmed_email?) %>
    <p><%= @resource.nickname %>さん
      <br>
      名護へGOをご利用いただきありがとうございます。
      <br>
      <br>
    </p>
    <p>
      以下のURLをクリックして、メールアドレス変更手続きを完了してください。
      <br>
      <%= link_to 'メールアドレスの変更を承認する', {controller: "users/confirmations", action: :create,confirmation_token: @token, mail_update: 1}, method: :post %>
      <br>
      <br>
      このURLの有効期限は24時間です。
    </p>
    <% else %>
    この度は 名護へGO に仮登録をしていただき、ありがとうございます！<br>
    <br>
    現時点では仮登録のため、会員登録手続きは完了しておりません。<br>
    会員登録を完了するには下記のリンクからプロフィールを設定してください。<br>
    <br>
    <p><%= link_to '本登録はこちら', before_sign_up_url(resource:@resource, confirmation_token: @token) %></p>
    <br>
    <% end %>
    ※このメールは返信しても届きません。お問い合わせはサイトの<a href="https://go-to-nago.com/inquiries/new?kind=0"> お問い合せフォーム</a> からお願いいたします。<br>
    <br>
