<% if @resource.try(:unconfirmed_email?) %>
<p><%= @resource.nickname %>さん
  <br>
  名護へGOをご利用いただきありがとうございます。
  <br>
  <br>
</p>
<p>
  以下のURLをクリックして、メールアドレス変更手続きを完了してください。
  <br>
  <%= link_to 'メールアドレスの変更を承認する', {controller: "users/confirmations", action: :create,confirmation_token: @token}, method: :post %>
  <br>
  <br>
  このURLの有効期限は24時間です。
</p>
<% else %>
名護へGOをご利用いただきありがとうございます。
<br>
<br>
会員登録のお手続きありがとうございます！<br>
<br>
この度は 名護へGO に<br>
仮登録をしていただき、ありがとうございます！<br>
<br>
現時点では仮登録のため、会員登録手続きは完了しておりません。<br>
会員登録を完了するには下記のボタンからプロフィールを設定してください。<br>
<% end %>
<br>
<br>
<br>

<p><%= link_to '本登録はこちら', before_sign_up_url(resource:@resource, confirmation_token: @token) %></p>

<br>
※このメールは返信しても届きません。お問い合わせはサイトの「お問い合わせ」からお願いいたします。
<br>
<br>
■ご登録の覚えがないのにこのメールが届いたという方
<br>
ご迷惑をおかけし申し訳ありません。大変お手数ですが下記メールアドレスまでご連絡をお願いいたします。
<br>
<p>******@****.jp</p>
