<p> <%= @resource.email %>様</p>

<p>パスワード変更に関するメールです。</p>
<p>以下のリンクからパスワードを変更してください。</p>


<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールにお心当たりがない場合は無視してください</p>

<hr>
<p>名護へGO運営事務局</p>
<p>電話番号：01234567</p>
<p>住所：沖縄県名護市1234</p>
<p>email:go-to-nago@example.com</p>