<p> <%= @resource.email %>様</p>

<p>パスワード変更に関するメールです。</p>
<p>以下のリンクからパスワードを変更してください。</p>


<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールにお心当たりがない場合は無視してください</p>

