<h1>お問い合わせ(受付完了)</h1>

<p>お問い合わせの内容によっては、回答にお時間をいただく場合がございます。</p>
<p>お問い合わせ内容を、メールアドレスに送信いたしました
※YahooメールやHotmail等のウェブメールをお使いの場合には、メールが自動的に迷惑メールとして振り分けられてしまう場合があります。
時間が経ってもメールが受信されない場合には、迷惑メールフォルダ等をご確認ください。</p>

