<div class="inquiry-area">
  <div class="inquiry-title-area">
    <h1>お問い合わせ(受付完了)</h1>
  </div>

<p>問い合わせありがとうございます。</p>
<p>お問い合わせ内容を、メールアドレスに送信いたしました。</p>
<p>内容を確認して、回答させていただきます。</p>
<p>なお、お問い合わせの内容によっては、回答にお時間をいただく場合がございます。</p>

</div>
