.list-content {
  float: left;
}

.user-lists {
  margin: 10px auto;
  padding: 0 auto;
}

.user-icon {

  position: relative;
  height: 200px;
}

.fa-user-edit {
  font-size: 30px;
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0;
}

#myTabs {
  margin: 0 auto;
}
