<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>

  <body>
    <%= yield %>
    ■このメールに覚えがない方 <br />
    ご迷惑をおかけし申し訳ありません。大変お手数ですが下記までご連絡をお願いいたします。<br />
     <br />
    * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
    <br />
    <a href="https://go-to-nago.com/"> 名護へGO</a> <br />
    お問い合せ：<a href="https://go-to-nago.com/inquiries/new?kind=0"> お問い合せフォーム</a> <br />
    運営会社：株式会社やんばるスパイク <br />
    * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
    <br />
  </body>
</html>
